* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: white;
}

.logo-name {
    font-family: cursive ;
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right,white,rgb(10, 207, 241));
    padding: 12px;
}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.Profile {
    display: flex;
    background-image: linear-gradient(to left,white,rgb(110, 170, 226));
    justify-content: space-around;
    padding: 30px 50px;
    margin: 10px;
}

li {
    padding-left: 10px;
}

a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
s
a:hover {
    color: rgb(165, 83, 241);
}

.Profile .teks-profil {
    font-size: large;
    text-align: right;
    align-self: center;
}

.Studies {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right,white,rgb(185, 148, 162));
}

.Studies .teks-studi {
    font-size: medium;
    text-align: left;
    align-self: center;
}

.motivasi {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right,white,rgb(34, 202, 76));
}

.motivasi .teks-motif {
    font-size: medium;
    text-align: left;
    align-self: center;
}

.pesan {
    font-size: large;
}

img {
    align-self: center;
}

@media screen and (max-width: 1100px) {
    img {
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    img {
        height: 100px;
    }
    
    .Profile .teks-profil {
        font-size: small;
    }

    .Studies .teks-studi {
        font-size: small;
    }

    .motivasi .teks-motif {
        font-size: small;
    }

    .navbar .logo-name{
        font-size: 14px;
    }
    a {
        font-size: 10px;
    }
    .pesan {
        font-size: medium;
        font-weight: bold;
    }
}